.p-header {
  color: #fff;
  &__scroll {
    width: 70%;
    transition: all 0.6s ease-out;
    @include mq(){
      width: 90%;
    }
  }
  &__nav {
    display: block;
    @include mq() {
      display: none;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    margin-right: $space_xxl;
  }
  &__logo {
    @include mq() {
      width: 170px;
      height: 80px;
    }
    &__img {
      transition: all 0.6s ease-out;
    }
  }
  &--spmenu {
    display: none;
    transition: all 0.4s;
    box-sizing: border-box;
    position: relative;
    width: 40px;
    height: 32px;
    z-index: 3;
    margin-right: 8px;

    & > span {
      display: inline-block;
      background-color: #fff;
      transition: all 0.4s;
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      left: 0;
      border-radius: 4px;
      height: 4px;

      &:nth-of-type(1) {
        top: 0;
      }
      &:nth-of-type(2) {
        top: 14px;
      }
      &:nth-of-type(3) {
        bottom: 0;
      }
    }
    @include mq() {
      display: inline;
    }
  }
  & .active{
    
  }
}
