.p-homeCategory {
  position: relative;
  padding: 42px 16px;
  // height: 700px;
  background-color: rgba(0, 0, 0, 0.7);
  @include mq() {
    // padding-top: 120px;
    // padding-bottom: 120px;
  }

  &__item {
    width: 33%;
    // height: 50%;
    float: left;
    @include mq() {
      width: 50%;
      &:first-child {
        margin-top: 30px;
      }
      &:nth-child(odd) {
        clear: left;
      }
      &:nth-child(n + 4):nth-child(2n) {
        margin-top: -30px;
      }
    }
  }

  &__cover {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  &__img {
    position: relative;
    // width: 100%;
    // height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.4s;
    cursor: pointer;

    & a {
      position: relative;
      text-decoration: none;
      display: block;
      padding-bottom: 90%;
      z-index: 5;
    }

    &:hover {
      transform: scale(1.15);
      transition: all 0.4s;
    }

    &::after {
      display: block;
      content: "";
      background-color: rgba(0, 0, 0, 0.5);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 4;
    }

    &--content {
      display: block;
      color: #fff;
      font-size: 2rem;
      text-align: center;
      @include mq() {
        font-size: 0.85rem;
      }
    }

    &--panel01 {
      background-image: url(../img/022.jpg);
    }
    &--panel02 {
      background-image: url(../img/019.jpg);
    }
    &--panel03 {
      background-image: url(../img/072.jpg);
    }
    &--panel04 {
      background-image: url(../img/009.jpg);
    }
    &--panel05 {
      background-image: url(../img/053.jpg);
    }
    &--panel06 {
      background-image: url(../img/070.jpg);
    }
  }

  &__footer {
    position: relative;
    color: #f7f8f8;
    width: 100%;
    clear: both;
    display: flex;
    @include mq() {
      display: block;
    }
    &--wrapp {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
    }

    &--title {
      font-size: 3rem;
      margin-bottom: 20px;
      letter-spacing: 1.5;
      @include mq() {
        font-size: 16px;
      }
    }
    &--item {
    }
  }
}
