.p-homeCategory {
  position: relative;
  padding: 42px 16px;
  background-color: rgba(0, 0, 0, 0.7);
  
  &__item {
    width: 33%;
    // height: 50%;
    float: left;
    @include mq() {
      width: 50%;
      &:first-child {
        margin-top: 30px;
      }
      &:nth-child(odd) {
        clear: left;
      }
      &:nth-child(n + 4):nth-child(2n) {
        margin-top: -30px;
      }
    }
  }

  &__cover {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  &__img {
    position: relative;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.4s;
    cursor: pointer;

    & a {
      position: relative;
      text-decoration: none;
      display: block;
      padding-bottom: 90%;
      z-index: 5;
    }

    &:hover {
      transform: scale(1.15);
      transition: all 0.4s;
    }

    &::after {
      display: block;
      content: "";
      background-color: rgba(0, 0, 0, 0.5);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--inner {
      position: absolute;
      width: 80%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 4;
    }

    &--content {
      display: block;
      color: #fff;
      font-size: 2rem;
      text-align: center;
      @include mq() {
        font-size: 0.85rem;
      }
    }

    &--panel01 {
      background-image: url(../img/top_panel_01.jpg);
    }
    &--panel02 {
      background-image: url(../img/top_panel_02.jpg);
    }
    &--panel03 {
      background-image: url(../img/top_panel_03.jpg);
    }
    &--panel04 {
      background-image: url(../img/top_panel_04.jpg);
    }
    &--panel05 {
      background-image: url(../img/top_panel_05.jpg);
    }
    &--panel06 {
      background-image: url(../img/top_panel_06.jpg);
    }
  }

  &__thirdSection {
    position: relative;
    color: #f7f8f8;
    width: 100%;
    clear: both;
    display: flex;
    justify-content: space-around;
    @include mq() {
      display: block;
    }
    &__wrapp {
      position: absolute;
      margin: 0 auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-left: 100px;
      box-sizing: border-box;
      width: 100%;
      @include mq() {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
    &__title {
      font-size: 3rem;
      margin-bottom: 40px;
      letter-spacing: 1.5;
      @include mq() {
        font-size: 2.0rem;
        margin-bottom: 40px;
      }
      @include mq(ssm){
        font-size: 1.7rem;
      }
    }
    &__text {
      font-size: 1.5rem;
      width: 68%;
      @include mq() {
        font-size: 1.1rem;
        width: 100%;
      }
      @include mq(ssm){
        font-size: 1rem;
      }
    }
  }
  &__movie {
    position: relative;
    color: #f7f8f8;
    width: 100%;
    @include mq() {
      display: block;
    }
    &__title {
      padding-top: 50px;
      color: #fff;
      font-size: 3rem;
      text-align: center;
      @include mq() {
        font-size: 2.3rem;
        padding-bottom: 32px;
      }
    }
  }
}
