.p-news {
  //   padding: 50px;
  background: #fff;
  position: relative;

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    width: 980px;
    /* margin: 40px auto; */

    @include mq() {
      width: 100%;
    }
  }

  &__wrapp {
    margin-bottom: $space_3l;
    text-align: center;
  }

  &__nav {
    @include custumRadius(5px);
    padding: 16px 24px;
    background-color: $color-default;
    @include mq() {
      padding: 8px;
      font-size: 14px;
    }
  }

  &__title {
    font-size: 3rem;
  }

  &__body {
    width: 80%;
    margin: 0 auto;
    overflow-y: scroll;
    box-sizing: border-box;
    height: 130px;
    @include mq() {
      width: 100%;
      padding: 8px;
    }
  }

  &__item {
    margin-bottom: $space_s;
    display: flex;
  }

  &__date {
    font-weight: bold;
    margin-right: 10px;
  }
}
