.p-news {
  //   padding: 50px;
  background: #fff;
  position: relative;
  &__inner {
    margin: 0 auto;
    padding: 200px 20px 250px;
    width: 980px;
    box-sizing: border-box;
    @include mq() {
      width: 100%;
      padding: 150px 5px 140px;
    }
  }
  &__wrapp {
    margin-bottom: $space_3l;
    text-align: center;
  }
  &__nav {
    @include custumRadius(5px);
    padding: 16px 24px;
    background-color: $color-default;
    min-height: 250px;
    @include mq() {
      padding: 8px;
      font-size: 14px;
    }
  }
  &__body {
    width: 90%;
    margin: 0 auto;
    overflow-y: scroll;
    box-sizing: border-box;
    height: 250px;
    @include mq() {
      height: 210px;
      width: 100%;
      padding: 8px;
    }
  }
  &__item {
    margin-bottom: $space_s;
    display: flex;
  }
  &__date {
    font-weight: bold;
    margin-right: 10px;
  }
}
