.p-slider {
  cursor: pointer;
  font-size: 42px;
  color: #fff;
  position: absolute;
  top: 46%;
  z-index: 2;
  &__prev{
    left: 22%;
    @include mq(xl){
        left: 15%;
    }
  }
  &__next{
    right: 22%;
    @include mq(xl){
        right: 15%;
    }
  }
}
