.p-social {
  margin-top: 13%;
  & > li {
    display: inline-block;
    padding-left: 8px;

    & > a {
      display: block;
      transition: all 0.5s;
      padding-bottom: 8px;
      border-bottom: 1px solid transparent;
      display: block;
      @include mq() {
        display: none;
      }
      &:hover {
        border-bottom: 1px solid #ffffff;
        transition: all 0.5s ease-in-out;
      }
    }
  }
  &__title {
    &::after {
      display: block;
      content: "";
      width: 2.3rem;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.1);
      margin-top: 8%;
      margin-left: 0.7rem;
      float: right;
      @include mq() {
        display: none;
      }
    }
  }
  &__fab {
    display: none;
    @include mq() {
      display: inline-block;
    }
  }
}
