.p-team {
  &__link {
    color: #000;
    text-decoration-line: revert;
    &:hover {
      font-weight: bold;
    }
  }
  &__comp {
    margin-top: 16px;
    &:first-child {
      margin-top: 0px;
    }
  }
}
