.p-youtube {
  width: 980px;
  height: 500px;
  vertical-align: bottom;
  @include mq() {
    width: 360px;
    height: 280px;
  }
  &__container {
    position: absolute;
    margin: 0 auto;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    width: 100%;
    @include mq(){
      top: 3%;
    }
  }
}
