.c-form {
  &__index {
    display: inline-block;
  }
  &__require {
    background-color: red;
    padding: 2px 9px;
    margin-right: 8px;
    color: #fff;
  }
  &__input {
    border-radius: 3px;
    display: block;
    border: 2px solid #dfd8d8;
    padding: 10px;
    font-size: 16px;
    width: 65%;
    box-sizing: border-box;
    &:focus {
      border: 2px solid #1e73be;
      outline: none;
    }
    @include mq(md) {
      width: 100%;
      box-sizing: border-box;
    }
  }
  &__textarea {
    border: 2px solid #dfd8d8;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    width: 65%;
    box-sizing: border-box;
    &:focus {
      border: 2px solid #1e73be;
      outline: none;
    }
    @include mq(md) {
      width: 100%;
      box-sizing: border-box;
    }
  }
  &__selectbox {
    // フォームに設定されているデフォルトスタイルを削除（今回はセレクトボックスのみ適応）
    // https://www.nxworld.net/tips/15-useful-css-snippets-in-form-style.html
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%; // c-form__input に設定されている width:65%; を上書き
    &__wrapp {
      width: 65%;
      color: #707070;
      position: relative;
      @include mq(md) {
        width: 100%;
      }
    }
    &__icon {
      position: absolute;
      top: 17px;
      right: 4%;
      display: block;
      width: 0;
      height: 0;
      border-top: 10px solid #333;
      border-right: 7px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 7px solid transparent;
      content: "";
    }
  }
  &__send {
    margin-bottom: 80px;
    &__text {
      display: block;
      text-align: center;
      font-size: 2rem;
      &__sub {
        display: block;
        text-align: center;
        font-size: 0.9rem;
      }
    }
  }
}
