.c-loading {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: #fff;
  &__open {
    animation-name: slideOut;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 2s;
  }
  &__content {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 300px;
    height: 50px;
    text-align: center;
    color: #000;
    font-size: 2rem;
    animation: loadText 1s;
    @include mq() {
      padding: 8px;
      width: 100%;
      font-size: 2rem;
    }
  }
}

.c-loading__module,
.c-loading__module::before,
.c-loading__module::after {
  background: #707070;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.c-loading__module {
  color: #707070;
  text-indent: 40px;
  left: 48%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  font-size: 12px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  @include mq(){
    left: 47%;
  }
  &__text{
    padding-top: 15px;
  }
}
.c-loading__module::before,
.c-loading__module::after {
  position: absolute;
  top: 0;
  content: "";
}
.c-loading__module::before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.c-loading__module::after {
  left: 1.5em;
}

/****************************************
ローディング用アニメーション
*****************************************/
@keyframes loadText {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
