.l-header {
  height: 100px;
  display: flex;
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: $z-index_m;
  // background: rgba(255, 255, 255, 0.6);

  @include mq() {
    padding-left: 8px;
    padding-right: 8px;
  }
}
