.l-main {
  width: 100%;

  &__rule{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 40px;
  }
  &__contact{
    max-width: 980px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 40px;
  }
}
